<!-- el extend es para heredar -->
{% extends './plantilla.html' %}
{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4 rounded shadow-sm">
        <h1 class="mb-4">Editar Vulcanologo</h1>
        <form action="/procesarEdicionVulca" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{vulcaEditar.id}}">
            
            <label for="nombre">Nombre:</label>
            <input class="form-control mb-3" type="text" name="nombre" id="nombre" value="{{vulcaEditar.nombre}}" >

            <label for="apellido">Cédula:</label>
            <input class="form-control mb-3" type="text" name="apellido" id="apellido" value="{{vulcaEditar.apellido}}" >

            <label for="especialidad">Especialidad:</label>
            <input class="form-control mb-3" type="text" name="especialidad" id="especialidad" value="{{vulcaEditar.especialidad}}" >

            <label for="email">Email:</label>
            <input class="form-control mb-3" type="text" name="email" id="email" value="{{vulcaEditar.email}}" >



            <button
            class="btn btn-warning"
            type="submit"><i class="fa fa-pen"></i>
                Editar</button>
            <a 
            class="btn btn-outline-danger"
            href="/"><i class=" fa fa-times"></i>
                Cancelar
            </a>
            
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}