{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1 class="text-center">Listado de Vulcanologo</h1>
<hr>
<div class="text-end">
    <a href="nuevoVulca" class="btn btn-secondary">
        Agregar Prueba
    </a>
</div>

<br>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
          
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>ESPECIALIDAD</th>
            <th>EMAIL</th>

        </tr>
    </thead>
    <tbody>
        {% for cargoVulca in vulcanologo %}
            <tr>
                <td>{{cargoVulca.id}}</td>
                <td>{{cargoVulca.nombre}}</td>
                <td>{{cargoVulca.apellido}}</td>
                <td>{{cargoVulca.especialidad}}</td>
                <td>{{cargoVulca.email}}</td>

                <td>
                    <a href="editarVulca/{{cargoVulca.id}}" class="btn btn-outline-warning"><i class="fa fa-pen"></i></a>
                    <a href="#" 
                    onclick="eliminarVulca('{{cargoVulca.id}}')"
                    class="btn btn-outline-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br><br><br><br>
<script>
    function eliminarVulca(id){
        Swal.fire({
            title: "Desae eliminar?",
            text: "¿Estas seguro de eliminar al Vulcanologo de forma permanenete?",
            icon: "Advertencia",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, Borrar"
            }).then((result) => {
            if (result.isConfirmed) {

                window.location.href="/eliminarVulca/"+id
            
            }
        });
        
    }
    
</script>
{% endblock %}